.chat-page-container {
  display: flex;
}

.chat-rooms-container::-webkit-scrollbar {
  width: 0;
}

.chat-rooms-container {
  width: 25%;
  overflow-y: scroll;
}

.chat-container::-webkit-scrollbar {
  width: 0;
}

.chat-container {
  width: 75%;
  padding: 0 40px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.input-group .mess-input {
  height: auto;
}

.input-mess-container {
  width: 75%;
  height: 100px;
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 20px;
  background-color: #5e646b;
}

.message {
  width: 40%;
  border: 1px solid #000;
  padding: 20px;
  margin: 10px;
  background-color: #5e646b;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 2px #969696fc;
}

.your-message {
  margin-left: auto;
}

.users-list {
  padding-left: 0;
}

.users-list li {
  padding: 8px 10px;
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #8484848f;
}

.users-list li:hover {
  background: linear-gradient(90deg, #e4e4e4 0%, #ffffff 100%);
}

.clients-and-rooms-container {
  width: 25%;
}

.clients-list {
  width: 100%;
}

.buttons-container {
  width: 100%;
  display: flex;
  /* background-color: #e2e0e0; */
}

.tabs {
  width: 50%;
  color: #46b811;
  padding: 5px 0;
  text-decoration: none;
  background-color: #eaeaed;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #cecfd5;
  /* box-shadow: inset 0px -3px 7px 0px #00000054; */
}

.hover-tab:hover {
  color: #15ff00;
}

.active-tab {
  background-color: #fff;
  border: none;
  color: #d35030;
}

.room-name {
  position: fixed;
  top: 56px;
  left: 40%;
}

.current-room {
  background: linear-gradient(90deg, #e4e4e4 0%, #ffffff 100%);
}

.number-new-messages {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  text-align: center;
  background: #cbcbcb;
  background: radial-gradient(circle, #cbcbcb 25%, #5e646b 100%);
  color: #000;
}

/* .tabs-link {
    display: block;
    color: #5e646b;
    text-align: center;
     text-decoration: none;
     padding: 5px 0;
} */

/* .tabs-link:hover {
    text-decoration: none;
    color: #aa4242;
} */
