body {
    background-color: #b5b5b5;
}
.log-in-container {
    max-width: 500px;
    margin: 10% auto;
    padding: 50px;
    text-align: center;
    color: #fff;
    background-color: #5e646b;
    box-shadow: 1px 3px 5px 2px #5e646bb0;
    border-radius: 10px;
}

.log-in-header {
    margin-bottom: 40px; 
}

.button-group {
    justify-content: center;
}

.log-in-btn {
    margin: 10px 15px;
}
 
.sign-in-link {
    color: #28a745;
}

.google-button {
    margin: 10px 15px;
}

.oauth-btn-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .log-in-container {
        margin: 0;
        padding: 20px;
        border-radius: 0;
    }
}