.register-form {
    max-width: 800px;
    margin: 15vh auto;
    padding: 20px;
    text-align: center;
    background-color: #5e646b;
    border-radius: 10px;
    box-shadow: 1px 3px 5px 2px #5e646bb0;
    color: #f0f8ff;
}

.throw-error {
    color: #ff7d7d;
}

.register-head {
    text-align: center;
}

.register-btn {
    width: 100%;
}